<div id="<%= dom_id transaction %>">
  <p>
    <strong>transactionDate:</strong>
    <%= transaction.transactionDate %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= transaction.value %>
  </p>

</div>
